html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.parallax {
    display: flex;
    height: 100vh; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#parallax-first {
    background-image: url("https://www.ryt9.com/img/files/20220214/iqa311987e8d000fb460c6894490101c05.jpg");
    opacity: 0.6;
}

.welcome-board {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;


    align-self: flex-end;
    background-color: white;
    border-radius: 2rem;

    margin: 10vh;
    width: 50%;

    padding-inline: 7%;
    padding-block: 4%;

    button {
        padding-inline: 5%;
        padding-block: 2%;

        background-color: lightgreen;
        border: 2px aquamarine solid;
        border-radius: 1rem;
        cursor: pointer;

        color: black;
    }
}

#member {
    height: 100vh;
    width: 100vw;
}

.member-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        width: 100%;
        margin-block: auto;

        max-width: 100%; 
    }

    figcaption {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-content: center;

        padding-inline: 1.5rem;
        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
        }
    }
}

#member-detail-two {
    grid-template-columns: 1fr 1fr;
    img {
        order: 4;
        margin-block: auto;
    }
}

.navigation {
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: rgba(222, 222, 222, 0.40);
    backdrop-filter: blur(8px);
    width: 100vw;
}

.nav-container {
    height: 4rem;
    max-width: 88rem;
    display: flex;

    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
    justify-content: center;

    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.nav-title-container {
    align-items: center;
    flex: none;
    display: flex;
}

.nav-title {
    color: rgb(255 255 255);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    text-decoration: none;
}

.logo-42-bangkok img {
    width: 25%;
    border-radius: 50%;
}

.nav-link-flex {
    display: flex;
    margin-right: 0;
    margin-left: 2rem;
}

.nav-link-container {
    position: relative;
}

.nav-link {
    display: inline-flex;
    text-decoration: inherit;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    align-items: center;

    border-radius: 2rem;
}

.nav-button-container {
    gap: 2rem;
    flex-shrink: 1;
    justify-content: flex-end;
    align-items: center;
    flex-basis: auto;
    width: 100%;
    display: flex;
    position: relative;
}

.nav-button {
    opacity: 0.7;
    min-width: fit-content;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
}


@media only screen and (max-width: 768px) {
    body {
      font-size: 12px;
    }

    .welcome-board {
        align-self: center;
    }
}

@media only screen and (max-width: 600px) {
    .member-detail {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #member-detail-two {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        img {
            order: 0;
            margin-block: auto;
        }
    }

    figure {
        all: unset !important
    }
}